.browse {
	padding-top: 18px;
	padding-left: var(--side-padding);
	padding-right: var(--side-padding);
}

.buttons-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px 6px;
	margin-top: 16px;
}

.buttons-grid button {
	padding: 20px 28px 22px 28px;
	height: 56px;
	border: var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	font-weight: 600;
	transition: 0.1s ease all;
}

.buttons-grid button:hover {
	color: #fff;
	background-color: #000;
	transform: scale(0.965);
}

.buttons-grid button:active {
	color: #fff;
	background-color: #000;
	transform: scale(1);
}
