.navbar {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	align-items: center;
	padding: var(--side-padding);
	width: 100%;
}

.logo {
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.ham-icon-wrapper {
	width: 52px;
	height: 52px;
	border: var(--border);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

.avatar {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: var(--border-color);
	cursor: pointer;
	display: none;
}
.sign-in {
	background-color: #000;
	color: #fff;
	height: 40px;
	padding: 0 14px;
	padding-bottom: 1px;
	border-radius: 100px;
	font-weight: 500;
	transition: 0.15s ease transform;
}
.sign-in:hover {
	transform: scale(1.05);
}
.sign-in:active {
	transform: scale(1);
}
.menu {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 264px;
	background-color: #fff;
	border-right: var(--border);
	display: flex;
	flex-direction: column;
	padding: var(--side-padding);
	min-height: 100vh;
	transform: translateX(-100%);
	transition: 0.35s ease transform;
}

.show {
	transform: translateX(0%);
}

.menu-list {
	margin-top: 72px;
}

.menu-list-item {
	display: flex;
	align-items: center;
	gap: 16px;
	margin: 4px 0;
	padding: 12px 20px;
	border-radius: 100px;
}

.menu-item-icon {
	font-size: 24px;
}

.menu-list-item span {
	font-size: 20px;
	font-weight: 600;
}

.menu-list-item:hover {
	background-color: rgb(246, 246, 246);
}

.menu-list-item:active {
	background-color: rgb(239, 239, 239);
}

.sub-links {
	margin-top: 72px;
	padding: 0 14px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.sub-links a {
	color: var(--grey-color);
	transition: 0.15s ease all;
}

.sub-links a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.separator {
	width: 100%;
	height: 1px;
	background-color: var(--border-color);
}
