.nothing-here {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img {
	width: 250px;
}

.text {
	font-weight: 500;
	margin-top: 1rem;
	color: var(--grey-color);
}
