.sort {
	display: flex;
	align-items: center;
	gap: 36px;
	padding: 0 var(--side-padding);
}

.left {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}

.sort-icon {
	font-size: 24px;
}

.left span {
	font-weight: 600;
}
