.card {
	display: flex;
	align-items: center;
	gap: 13px;
	cursor: pointer;
}

.vertical {
	flex-direction: column;
	align-items: flex-start;
	width: 140px;
	overflow: hidden;
	gap: 14px;
}

.thumbnail {
	width: 130px;
	height: 130px;
	border-radius: 16px;
	background-color: var(--image-bg-color);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

.vertical .thumbnail {
	width: 140px;
	height: 140px;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.vertical .content-wrapper {
	gap: 8px;
}

.type {
	font-size: 12px;
	letter-spacing: 0.02rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 3px 8px;
	border: var(--border);
	border-radius: 50px;
	width: fit-content;
}

.rating-wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
}

.rating {
	font-size: 14px;
	font-weight: 500;
	color: var(--grey-color);
	margin-top: 1px;
}

.title {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.3;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.vertical .title {
	font-size: 18px;
}

.distance,
.location {
	font-size: 14px;
	color: var(--grey-color);
	font-weight: 500;
}

.location-icon {
	color: var(--grey-color);
}

.separator {
	width: 1px;
	height: 10px;
	margin-left: 2px;
	background-color: var(--grey-color);
}
