.content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 var(--side-padding);
}

.type {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px;
	border: var(--border);
	border-radius: 50px;
}

.rating-wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
}

.rating {
	font-size: 14px;
	font-weight: 500;
	color: var(--grey-color);
	margin-top: 1px;
}

.title {
	font-size: 28px;
	font-weight: 600;
}

.distance,
.location {
	font-size: 14px;
	color: var(--grey-color);
	font-weight: 500;
}

.location-icon {
	color: var(--grey-color);
}

.separator {
	width: 1px;
	height: 10px;
	margin-left: 2px;
	background-color: var(--grey-color);
}
