.contact-info {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 20px;
	padding-left: 25px;
	margin-bottom: 50px;
	font-weight: bold;
}

.info {
	margin: auto;
	/*border: 2px solid black;*/
	width: fit-content;
	position: center;
	font-size: 24px;
	/*border-radius: 100px;*/
	padding: 7px;
}

.phone {
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-top: 35px;
	font-size: 18px;
}

.phone-icon {
	margin: auto;
	padding-right: 5px;
	font-size: 25px;
}

.email {
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-top: 25px;
	font-size: 18px;
}

.email-icon {
	margin: auto;
	padding-right: 5px;
	font-size: 25px;
}

.contact-us {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-bottom: 20px;
	/*border: 2px solid black;*/
	width: fit-content;
	position: center;
	font-size: 24px;
	/*border-radius: 100px;*/
	padding: 7px;
}

.detials {
	display: flex;
	flex-direction: column;
	margin: auto;
}
.name {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 40px;
	margin-top: 25px;
	padding-right: 70px;
	padding-bottom: 20px;
}

.input {
	margin-top: 10px;
	width: auto;
	height: auto;
	border-radius: 15px;
}

.button {
	margin: auto;
	font-size: 20px;
	border: solid 1px black;
	width: fit-content;
	height: fit-content;
	padding: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 15px;
	margin-bottom: 20px;
	background-color: white;
	color: black;
	transition: background-color 0.75s;
	transition: color 0.5s;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.801);
	color: white;
}
