.container {
	padding: 0 var(--side-padding);
	padding-top: 100px;
}

.logo {
	height: 52px;
	margin-bottom: 32px;
}

.heading {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 32px;
}

.button {
	height: 56px;
	width: 100%;
	background-color: #0260ee;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 22px;
	border-radius: 100px;
	transition: 0.15s ease all;
}
.button:hover {
	transform: scale(1.02);
}
.button:active {
	transform: scale(1);
}

.grey {
	background-color: #f3f3f3;
	color: #000;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.or-container {
	display: flex;
	align-items: center;
	gap: 18px;
}

.or-line {
	height: 1px;
	flex: 1;
	background-color: var(--border-color);
}

.or-container span {
	color: rgba(0, 0, 0, 0.2);
	font-size: 18px;
	font-weight: 600;
}
