@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Gilroy', sans-serif;
	box-sizing: border-box;
}

body,
html {
	overflow-x: hidden;
	position: relative;
}

.app-container {
	max-width: 425px;
	margin: 0 auto;
	background-color: #fff;
	min-height: 100vh;
	border-left: var(--border);
	border-right: var(--border);
}

.swiper-slide {
	width: fit-content;
}

.vertical-card-list {
	margin-top: 28px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0 var(--side-padding);
}

.side-padding {
	padding: 0 var(--side-padding);
}
