@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Gilroy', sans-serif;
	box-sizing: border-box;
}

body,
html {
	overflow-x: hidden;
	position: relative;
}

.app-container {
	max-width: 425px;
	margin: 0 auto;
	background-color: #fff;
	min-height: 100vh;
	border-left: var(--border);
	border-right: var(--border);
}

.load-more-button {
	width: 100%;
	max-width: 220px;
	height: 44px;
	background-color: #f3f3f3;
	border-radius: 100px;
	font-size: 14px;
	font-weight: 600;
	margin: 36px auto;
	display: block;
	transition: 0.15s ease transform;
}

.load-more-button:hover {
	transform: scale(1.05);
}

.load-more-button:active {
	transform: scale(1);
}
