:root {
	--border-color: rgba(0, 0, 0, 0.1);
	--grey-color: rgba(0, 0, 0, 0.4);
	--blue-color: #0260ee;

	--image-bg-color: rgba(0, 0, 0, 0.05);

	--border: 1px solid var(--border-color);

	--side-padding: 18px;
}
